body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.card{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px; !important;
	background-color: #fff;
	border-radius: 30px;
	height: available;
}


.bg-light{
	background-color: gainsboro!important;
	box-shadow: hsl(0, 0%, 80%) 0 0 16px; !important;
	position: sticky;

}

#basket-icon{
	width:60px;
	display: inline-block;
	margin-left: 15px;
    padding-left: 15px;
}

#basket-total{
	display: block;
	text-align: center;
	color: gray;
	font-size: 25px;
	padding-left: 10px;
	font-weight: 600;
}



.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 30px;

    font-size: 15px;
}

.btn-ripple {
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition: all ease-in-out .5s;
}

.btn-ripple::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 25%;
	height: 100%;
	width: 50%;
	background-color: #000;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	transition: all ease-in-out 1s;
	transform: scale(5, 5);
}

.btn-ripple:active::after {
	padding: 0;
	margin: 0;
	opacity: .2;
	transition: 0s;
	transform: scale(0, 0);
}

.row-image{
	width: 100px;
}

.product-image{
	width: 600px
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.basket-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 600;
	padding-right:10px;
	height: 20px;
	color: gray;


}

.chg-quantity{
	width: 14px;
	cursor: pointer;
	display: block;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.footer {
	width: 100%;
	height: 65px;
	position: fixed;
	bottom: 0;
	padding: 13px 7px 0px 17px;
	font-size: 16px;
	color: #848484;
	background-color: gainsboro;
	box-shadow: hsl(0, 0%, 80%) 0 0 16px; !important;
}

.footer-left {
	text-align: left;
}

.footer-right {
	float: right;
}


