body{
	background-color: hsl(0, 0%, 98%);
}

.form_container {
    margin-top: 10px;
}

#form-title {
    color: gray;
}

.login_btn {
    width: 100%;
    background: gray!important;
    color: white !important;
}


.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #f0ad4e !important;
    color: gray !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.g-recaptcha{
    border-radius: 30px;
}