<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>CronosDietShop</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>


    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_register.css' %}">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_register.css' %}">


    <script type="text/javascript">
        let user = '{{ request.user }}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getToken('csrftoken');
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>


</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="/pictures/CronosLogo.png" alt="" height="100" style="padding-right: 100px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="padding-right: 30px; margin: 0 auto" href="{% url 'shop' %}">
                        <h5 style="color: gray">Shop</h5> <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'body_analysis' %}">
                        <h5 style="color: gray">Body Analysis</h5><span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a id="login_button" href="{% url 'login' %}" class="btn btn-outline-warning"
                   style="color: gray">Login</a>
                <a id="logout_button" href="{% url 'logout' %}" class="btn btn-outline-warning hidden"
                   style="color: gray">Logout</a>
                <a href="{% url 'basket' %}">
                    <img id="basket-icon" src="{% static 'pictures/cos.png' %}">
                </a>
                <p id="basket-total">{{ basketItems }}</p>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <br>
    {% block content %}


    {% endblock content %}
</div>

<br>
<br>
<br>
<br>


<footer class="footer footer-distributed">
    <div class="container">
        <div class="footer-row">
            <span class="footer-left">
                <a href="#" style=" color: gray; margin-right: 20px"><img src="/pictures/map.png" alt="" height="30">
                     Str. G-ral Constantin Coanda 31</a>
                <a href="#" style="color: gray; margin-right: 20px"><img src="/pictures/tel.png" alt="" height="30">+40.724.233.833
                </a>
                <a href="#" style="color: gray"><img src="/pictures/mail.png" alt="" height="35">
                     info@cronosdiet.com</a>
            </span>
            <span class=footer-right" style="float: right">
                <a href="#"><img src="/pictures/linkedin.png" alt="" height="36" style="margin-right: 10px"></a>
                <a href="https://www.instagram.com/cronosdiet/?hl=en"><img src="/pictures/instagram.png" alt=""
                                                                           height="36" style="margin-right: 10px"></a>
                <a href="https://www.facebook.com/pg/cronosdiet/posts/"><img src="/pictures/facebook.png" alt=""
                                                                             height="36" style="margin-right: 10px"></a>
            </span>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/basket.js' %}"></script>


<script type="text/javascript">
    if (user !== 'AnonymousUser') {
        document.getElementById('login_button').classList.add('hidden')
        document.getElementById('logout_button').classList.remove('hidden')
        console.log('User is logged in..')
    } else {
        console.log('User has logged out..')
    }
</script>


</body>
</html>