{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="basket-row">
                        <div style="flex: 1"><strong></strong></div>
                        <div style="flex: 2"><strong><h4 style="color: gray">Item</h4></strong></div>
                        <div style="flex: 1"><strong><h4 style="color: gray">Price</h4></strong></div>
                        <div style="flex: 1"><strong><h4 style="color: gray">Quantity</h4></strong></div>
                        <div style="flex: 1"><strong><h4 style="color: gray">Total</h4></strong></div>
                    </div>

                    {% for item in items %}
                        <div class="basket-row">
                            <div style="flex: 1"><img class="row-image" src="{{ item.product.picture_url }}"></div>
                            <div style="flex: 2; color: gray">{{ item.product.name }}</div>
                            <div style="flex: 1; color: gray">{{ item.product.price|floatformat:2 }} RON</div>
                            <div style="flex: 1">
                                <p class="quantity">{{ item.quantity }}</p>
                                <div class="quantity">
                                    <img data-product={{ item.product.id }} data-action="add"
                                         class="chg-quantity update-basket" src="{% static 'pictures/arrow_up.png' %}">
                                    <img data-product={{ item.product.id }} data-action="remove"
                                         class="chg-quantity update-basket"
                                         src="{% static 'pictures/arrow_down.png' %}">
                                </div>
                            </div>
                            <div style="flex: 1; color: gray">{{ item.get_total|floatformat:2 }} RON</div>
                        </div>
                    {% endfor %}

                    <div class="basket-row">
                        <div style="flex: 1"><strong></strong></div>
                        <div style="flex: 2"><strong><h4 style="color: #ffc107">Items: {{ order.get_basket_items }}</h4>
                        </strong></div>
                        <div style="flex: 1"><strong></strong></div>
                        <div style="flex: 1"><strong></strong><h4 style="color: #ffc107">Total:</h4></div>
                        <div style="flex: 1"><strong><h4
                                style="color: #ffc107">{{ order.get_basket_total|floatformat:2 }} RON</h4></strong>
                        </div>
                    </div>
                    <br>
                    <div>
                        <a class="btn btn-outline-secondary" href="{% url 'shop' %}">&#8592; Back to Shop</a>
                        <a class="btn btn-outline-warning" style="float: right" href="{% url 'checkout' %}">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}