{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
            <img src="/pictures/work_in_progress.png" alt="" height="">

    </div>
{% endblock %}