{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 style="text-align: center; color:gray">Order Summary</h4>
                    <hr>
                    {% for item in items %}
                        <div class="basket-row">
                            <div style="flex: 1; padding-right: 20px"><img class="row-image"
                                                                           src="{{ item.product.picture_url }}"></div>
                            <div style="flex: 2; color: gray">{{ item.product.name }}</div>
                            <div style="flex: 1; color: gray">{{ item.product.price|floatformat:2 }} RON</div>
                            <div style="flex: 1; text-align: center; color: gray">{{ item.quantity }}</div>
                        </div>
                    {% endfor %}
                    <div>
                        <a><h4 style="text-align: center; color: #ffc107">Items: {{ order.get_basket_items }}</h4></a>
                        <a><h4 style="text-align: center; color: #ffc107">Total: {{ order.get_basket_total|floatformat:2 }}
                            RON</h4></a>
                    </div>
                    <hr>
                    <a class="btn btn-outline-secondary btn-block" href="{% url 'basket' %}"
                       style="align-content: center">&#8592;
                        Back to Basket</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <form id="form">
                        <div class="row justify-content-center" id="user-info">
                            <div class="form-field">
                                <input required class="form-control" type="text" name="name" placeholder="Name">
                            </div>
                            <div class="form-field" style="float: right">
                                <input required class="form-control" type="email" name="email" placeholder="Email">
                            </div>
                        </div>

                        <div id="shipping-info">
                            <p><h4 style="color: gray">Shipping Information:</h4></p>
                            <div class="row justify-content-center">
                                <div class="form-field">
                                    <input class="form-control" type="text" name="address" placeholder="Address">
                                </div>
                                <div style="float: right" class="form-field">
                                    <input class="form-control" type="text" name="city" placeholder="City">
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="form-field">
                                    <input class="form-control" type="text" name="zipcode" placeholder="Zip code">
                                </div>
                                <div style="float: right" class="form-field">
                                    <input class="form-control" type="text" name="country"
                                           placeholder="Country">
                                </div>
                            </div>
                        </div>

                        <hr>
                        <input id="form-button" class="btn btn-outline-warning btn-block" type="submit"
                               value="Continue">
                    </form>
                </div>
            </div>
            <br>

            <div class="card hidden" id="payment-info">
                <div class="card-body">
                    <a id="make-payment" class="btn btn-outline-warning btn-block" style="color: gray">Make Payment</a>
                </div>
            </div>
        </div>
    </div>
    <br>

    <script type="text/javascript">
        let total = '{{ order.get_basket_total}}'

        if (user !== 'AnonymousUser') {
            document.getElementById('user-info').innerHTML = ''
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', function (event) {
            event.preventDefault()
            console.log('Form submitted..')
            document.getElementById('form-button').classList.add('hidden')
            document.getElementById('payment-info').classList.remove('hidden')
        })

        document.getElementById('make-payment').addEventListener('click', function (event) {
            submitPayment()
        })


        function submitPayment() {
            console.log('Payment button clicked')

            let userFormData = {
                'name': null,
                'email': null,
                'total': total,
            }

            let userShippingInfo = {
                'address': null,
                'city': null,
                'zipcode': null,
                'country': null,
            }

            if (user === 'AnonymousUser') {
                userFormData.name = form.name.value
                userFormData.email = form.email.value

            }

            userShippingInfo.address = form.address.value
            userShippingInfo.city = form.city.value
            userShippingInfo.zipcode = form.zipcode.value
            userShippingInfo.country = form.country.value

            let url = '/process_order/'
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'form': userFormData, 'shipping': userShippingInfo})
            })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success', data)
                    alert('Transaction completed')
                    window.location.href = "{% url 'shop' %}"
                })


        }

    </script>

{% endblock %}