{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/pictures/pachet1.png"
                         alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/pictures/pachet2.png"
                         alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/pictures/pachet3.png"
                         alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/pictures/pachet4.png"
                         alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

{% endblock %}
