{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="card">
        <div class="card-body">
                <div class="col-lg-12">
                    <div class="basket-row">
                        <div><img class="product-image" src="{{ product.picture_url }}"></div>
                        <div>

                            <br>
                            <br>
                            <div><h2 style=" color: gray">{{ product.name }}</h2></div>
                            <div><h4 style="color: gray">Price: {{ product.price|floatformat:2 }} RON</h4></div>
                            <hr>
                            <p style="color: gray; text-align: justify">{{ product.short_description }}</p>

                            <hr>
                            <div style="flex: auto">
                                <a class="btn btn-outline-secondary" href="{% url 'shop' %}">&#8592; Go Back</a>

                                <p class="quantity" style="color: gray; margin-left: 55px">Quantity: {{ quantity }}</p>
                                <div class="quantity">
                                    <img data-product={{ product.id }} data-action="add"
                                         class="chg-quantity update-basket" src="{% static 'pictures/arrow_up.png' %}">
                                    <img data-product={{ product.id }} data-action="remove"
                                         class="chg-quantity update-basket"
                                         src="{% static 'pictures/arrow_down.png' %}">
                                </div>
                                <button data-product={{ product.id }} data-action="add"
                                        class="btn btn-outline-warning add-btn update-basket"
                                        style="margin-left: 20px; float: right">Add to basket
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="description-row">
                        <h3 class="row justify-content-center" style="color: gray">Description</h3>
                        <hr>
                        <div>
                            <p style="color: gray; text-align: justify">{{ product.long_description }}</p>

                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
