{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="row">
            {% for product in products %}
                <div class="col-lg-3">
                <br>
                    <div class="card">
                        <img class="card-img-top" src="{{ product.picture_url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center" style="color: gray">{{ product.name }}</h5>
                            <br>
                            <p class="card-text text-center" style="color: gray">{{ product.product_card_text }}</p>
                            <br>
                            <h5 class="card-text text-center" style="color: gray">{{ product.price|floatformat:2 }} RON</h5>

                            <hr>
                            <a class="btn btn-outline-secondary ripple" href="{% url 'product_details' pk=product.id %}">Details</a>
                            <button data-product={{ product.id }} data-action="add"
                                    class="btn btn-outline-warning add-btn update-basket" style="float: right">Add to
                                basket
                            </button>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        </div>

    <!--
        <div class="pagination justify-content-center">
            <span class="step-links">
                {% if products.has_previous %}
                    <a href="?page=1" style="color: #f0ad4e">&laquo;&laquo;&laquo; </a>
                    <a href="?page={{ products.previous_page_number }}" style="color:  #f0ad4e">prev</a>
                {% endif %}

                <span class="current"
                      style="color: gray">{{ products.number }} of {{ products.paginator.num_pages }}</span>

                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}" style="color: #f0ad4e">next</a>
                    <a href="?page={{ products.paginator.num_pages }}" style="color: #f0ad4e"> &raquo;&raquo;&raquo;</a>
                {% endif %}
            </span>
        </div>
    -->



{% endblock %}
