{% extends 'base.html' %}
{% load static %}

{% block content %}

    <br>

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">

                        <h3 id="form-title" style="color: gray">LOGIN</h3>

                    </div>
                    <hr>
                    <br>
                    <div class="d-flex justify-content-center form_container">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="username" placeholder="Username..." class="form-control"
                                       style="color: gray">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" name="password" placeholder="Password..." class="form-control"
                                       style="color: gray">
                            </div>

                            <br>

                            <div class="input-group mb-3">
                                <div class="g-recaptcha" data-sitekey="6Lf27lQaAAAAAIv3wLJ0TEekLUxrd2cpvgyID2rw" data-theme="dark"></div>
                            </div>
                            <br>

                            <div class="d-flex justify-content-center mt-3 login_container">
                                <input class="btn btn-outline-warning" style="color: gray" type="submit" value="Login">
                            </div>
                        </form>
                    </div>
<br>
                    {% for message in messages %}
                        <p id="messages">{{ message }}</p>
                    {% endfor %}
                    <br>
                    <hr>

                    <div class="mt-4">
                        <div class="d-flex justify-content-center links" style="color: gray">
                            Forgot your password? <a href="{% url 'password_reset' %}" class="ml-2"
                                                     style="color: #f0ad4e">Reset</a>
                        </div>
                        <div class="d-flex justify-content-center links" style="color: gray">
                            Don't have an account? <a href="{% url 'register' %}" class="ml-2" style="color: #f0ad4e">Sign
                            Up</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}