{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title" style="color: gray">Password reset sent</h3>
                    </div>
                    <hr>
                    <br>
                    <p style="text-align: center; color: gray">We've emailed you instructions</p>
                    <p style="text-align: center; color: gray">for setting your new password.</p>
                    <p style="text-align: center; color: gray">If you don't receive an email,</p>
                    <p style="text-align: center; color: gray">please go back and make sure</p>
                    <p style="text-align: center; color: gray">you've entered the address you</p>
                    <p style="text-align: center; color: gray">registered with and also check</p>
                    <p style="text-align: center; color: gray">your spam folder. Thank you!!!</p>

                    <br>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-outline-secondary" href="{% url 'password_reset' %}">&#8592;
                            Go back</a>
                    </div>

                    <br>


                    <hr>

                </div>
            </div>
        </div>
    </div>

{% endblock %}