{% extends 'base.html' %}
{% load static %}
<style>
    .navbar
</style>
{% block content %}
    <br>

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title" style="color: gray">Password reset</h3>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title" style="color: gray">complete</h3>

                    </div>
                    <hr>
                    <br>
                    <p style="text-align: center; color: gray">Your new password has been set.</p>
                    <p style="text-align: center; color: gray">You may go ahead and login!</p>


                    <br>
                    <div class="d-flex justify-content-center mt-3">
                        <a id="login_button" href="{% url 'login' %}" class="btn btn-outline-warning"
                           style="color: gray">Login</a>
                    </div>

                    <br>


                    <hr>

                </div>
            </div>
        </div>
    </div>

{% endblock %}