{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title" style="color: gray">Password reset</h3>
                    </div>
                    <hr>
                    <br>
                    <p style="text-align: center; color: gray">Enter your email below and</p>
                    <p style="text-align: center; color: gray"> we'll send you instructions!</p>
                    <br>
                    <div class="d-flex justify-content-center form_container">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                                </div>
                                {{ form.email }}
                            </div>
                            <br>
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <input class="btn btn-outline-warning" style="color: gray" type="submit"
                                       value="Send email">
                            </div>
                            <br>
                            <br>
                            <hr>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-outline-secondary" href="{% url 'login' %}">&#8592;Go back</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}