{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title" style="color: gray">Enter new</h3>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title" style="color: gray">password</h3>
                    </div>

                    <hr>
                    <br>
                    <p style="text-align: center; color: gray">Please enter your new password</p>
                    <p style="text-align: center; color: gray">twice so we can verify you</p>
                    <p style="text-align: center; color: gray">typed it in correctly!</p>

                    <br>
                    <div class="d-flex justify-content-center form_container">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                {{ form.password }}
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                {{ form.password }}
                            </div>
                            <br>
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <input class="btn btn-outline-warning" style="color: gray" type="Submit"
                                       name="Update password">
                            </div>
                        </form>
                    </div>
                    <br>

                    {% for message in messages %}
                        <p id="messages">{{ message }}</p>
                    {% endfor %}

                    <hr>

                </div>
            </div>
        </div>
    </div>

{% endblock %}