{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title" style="color: gray">REGISTER</h3>
                    </div>
                    <hr>
                    <br>
                    <div class="d-flex justify-content-center form_container">

                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                                </div>
                                {{ form.username }}
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                                </div>
                                {{ form.email }}
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                {{ form.password1 }}
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                {{ form.password2 }}
                            </div>

                            <br>
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <input class="btn btn-outline-warning" style="color: gray" type="submit"
                                       value="Register Account">
                            </div>
                            <br>
                            <hr>

                        </form>
                    </div>

                     {% for message in messages %}
                        <p id="messages">{{ message }}</p>
                    {% endfor %}

                    <div class="mt-4">
                        <div class="d-flex justify-content-center links" style="color: gray">
                            Already have an account? <a href="{% url 'login' %}" class="ml-2" style="color: #f0ad4e">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
//We start indexing at one because CSRF_token is considered and input field
*/

        //Query All input fields
        let form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'Username..';
        form_fields[2].placeholder = 'Email..';
        form_fields[3].placeholder = 'Enter password...';
        form_fields[4].placeholder = 'Re-enter Password...';


        for (let field in form_fields) {
            form_fields[field].className += ' form-control'
        }
    </script>


{% endblock %}